@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto&family=Staatliches&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    grid-row: 1/2;
    grid-column: 2/7;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    width: 100%;
    height: 100px;
}

nav a{
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -100px;
}

#hero-img{
    width:100%;
}

#hero-box{
    grid-column: 1/7;
    grid-row: 1/5;
    z-index: -1;
}

#hero-msg{
    grid-column: 1/6;
    grid-row: 1/3;
    margin-top: 100px;
    color:white;
}

#hero-msg h1{
    text-align: center;
    color:white;
}

#hero-msg h4{
    text-align: center;
    color:white;
}
img.logo {
    width: 80px;
}
#logo_link{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.button-box{
    text-align: center;
}
main section{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}
main section img{
    width:100%;
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #F78764;
    grid-column: 1/11;
    grid-row: 7/14;
}
body {
    background-color: #00A7E1; 
    color:white;
    font-family: "Passion One", "Roboto", "Staatliches";
    letter-spacing: 1px;
    font-size: 22px;
    margin:0;
    padding:0;
}
h2{
    margin:0;
}
.home-title{
    font-family: "Passion One", "Roboto", "Staatliches";
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 10px;

}
header{
    background-color:#F78764;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: white;
    color:#00A7E1;
}
.book{
    background-color: #F78764;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img{
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    width: 100%;
    display:block;
    margin:0 auto;
    grid-column: 2/7;
    grid-row: 8/13;
    box-shadow: 5px 5px 10px #6f7364;
}
.join{
    background-color: #F78764;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: white;
    color:#00A7E1;
}
.join:hover{
    background-color: white;
    color:#00A7E1;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    margin: 0 auto;
    max-width: 1500px;
}
.msg{
    grid-column: 6/10;
    grid-row: 9/12;
    background-color: #DA4167;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
    width: 80%;
    display:block;
    margin:0 auto;
}
.msg h2 {
    margin: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #DA4167;
    Color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title{
    color: white;
    margin-top: 10px;
}
footer a{
    color:black;
    text-decoration: none;  
}
footer a:hover{
    background-color: white;
    color: #00A7E1;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}              
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            

