@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav {
    grid-row: 1/2;
    grid-column: 2/7;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    width: 100%;
    height: 100px;
}
nav a{
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
}
.Highline, .Beach, .Chelsea, .Chase{
    width: 48%;
    display:block;
    float: left;
    margin:0 auto;
    box-shadow: 5px 5px 10px black;
}
#hero {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -100px;
}
#hero-img{
    width:100%;
}
#hero-box{
    grid-column: 1/7;
    grid-row: 1/5;
    z-index: -1;
}
#hero-msg{
    grid-column: 1/8;
    grid-row: 1/3;
    margin-top: 150px;
    color:black;
}
#hero-msg h1{
    text-align: center;
    color:black;
}
img.logo {
    width: 120px;
}
#logo_link{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}
main section img{
    width:100%;
    box-sizing: border-box;
}
#background{
    height: 50px;
    background-color: #B9C0DA ;
}
body {
    background-color: #B9C0DA ; 
    color:white;
    font-family: "Lato", "Roboto", "Oswald";
    letter-spacing: 1px;
    font-size: 22px;
    margin:0;
    padding:0;
}
h2{
    margin:0;
}
.home-title{
    font-family: "Oswald", "Roboto", "Lato";
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 10px;

}
header{
    background-color:#07DAA1;
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid rgba(0, 0, 0, 0.278);
}
nav a:hover {
    background-color: white;
    color:#741A28;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    margin: 0 auto;
    max-width: 1500px;
}
.msg, .msg2, .msg4, .msg5{
    background-color: #741A28;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
    line-height: 1.5em;
    width: 48%;
    display:block;
    margin:0 auto;
    margin-left: 48%;
}
.msg h2 {
    margin: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #07DAA1;
    Color:black;
    padding: 25px 50px;
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid rgba(0, 0, 0, 0.278);
}
.home-title{
    color: white;
    margin-top: 10px;
}
footer a{
    color:black;
    text-decoration: none;  
}
footer a:hover{
    background-color: white;
    color: #741A28;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}              
footer .social img{
    padding-top: 15px;
}
/* Page 2 | Getting Started */
.msg3{
    background-color: #741A28;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
    line-height: 1.5em;
    width: 45%;
    display:block;
    margin:0 auto;
    margin-right: 48%;
}
.bird{
    width: 48%;
    display:block;
    float: right;
    margin:0 auto;
    box-shadow: 5px 5px 10px black;
}
/* Page 3 | Testimonials */

@media screen and (max-width: 900px) {
    header{
        height:auto;
        display:block;
    }
    #hero {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    .Highline,.Beach, .bird,.Chelsea,.Chase {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .msg, .msg2,.msg3,.msg4,.msg5 {
        width: 80%;
        display: block;
        margin: 5%;
        margin-bottom: 26px;
    }
    #page2{
        height: 50%;
        margin: 10%;
    }
    footer {
        margin-top: 25px;
    }
}